__pycache__/
*.pyc
.terraform/
.terraform.lock.hcl
**/tfplan
*.tfplan
*.tfstate
*.tfstate.*
crash.log
crash.*.log
pulls/
bin/
dist/
.node-test/
node_modules/
.DS_Store
/demo/modules/
/modules/
**/tfplan.sources
